<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

    <div class="container"> 
        <div class="mr-auto bg-light p-5">
   
            <form id="productForm">

                <h5>Fill the form to create a product</h5>
                <br>

                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input type="number" class="form-control" id="price" name="price" placeholder="Enter the price" >
                </div>
                <div class="form-group">
                    <label>Thumbnail</label>
                    <input type="text" class="form-control" id="thumbnail" name="thumbnail" placeholder="Enter the thumbnail" >
                </div>
                
                <br>
                <button id="submit-product" class="btn btn-primary">Add product</button>

            </form>

            {{!-- {{#if msg}}
                <div class="alert alert-success" role="alert">
                    Product added!
                </div>
            {{/if}} --}}
            

        </div>

        <hr>

        <div class="mr-auto bg-light p-5">
          {{#if products}}
            <h5>List of products</h5>

            <table class="table bg-white">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Thumbnail</th>
                  </tr>
                </thead>
                <tbody id="product-table">
                    {{#each products}}
                      <tr>
                        <th scope="row">{{this.id}}</th>
                        <td>{{this.title}}</td>
                        <td>${{this.price}}</td>
                        <td><img style="width:50px;" src="{{this.thumbnail}}" alt=""></td>
                      </tr>
                     {{/each}}
                </tbody>
            </table>

          {{else}}
              <div class="alert alert-danger" role="alert">
                No products have been found
              </div>
          {{/if}}

        </div>

        {{!-- <hr>

        <div class="mr-auto bg-light p-5">
            <h5 class="primary">Message center</h5>
            <br>

            <form id="chatForm">

              <input id="email" class="form-control" placeholder="Enter your email" required>

              <br>

              <div id="messages"></div>

              <br><br>

              <input id="msg" class="form-control w-25 d-inline" placeholder="Enter your message" required>
              <input class="btn btn-primary w-25 d-inline " id="submit-chat" type="submit" value="enviar"></input>

            </form>

        </div> --}}
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src="index.js"></script>
</body>
</html>